@import url("https://fonts.bunny.net/css?family=alfa-slab-one:400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    animation: scrollBackground 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    color: #fff;
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keycode {
    color: #fff;
    font-family: "Alfa Slab One", sans-serif;
    font-size: 8em;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px 2px #0d1214;
    text-shadow: -2px -2px 0 #0d1214, 2px -2px 0 #0d1214, -2px 2px 0 #0d1214,
        2px 2px 0 #0d1214;
    text-transform: uppercase;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .keycode {
        font-size: 4em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .keycode {
        font-size: 6em;
    }
}
